<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Map Generator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/device/search">Find devices</a></li>
                <li><a href="/device/devices">Devices</a></li>
                <li class="active"><a href="/map/encoderData">Encoder data</a></li>
                <li><a href="/map/map">Map</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="starter-template">
        <h1>Encoder Data</h1>
        <form  th:action="@{encoderData}" >
<select  name="selectedDevice">
            <option th:each="deviceName : ${connectedDevices}" th:value="${deviceName}" th:text="${deviceName}" th:selected="${deviceName==selectedDevice}">Connected Device</option>
 </select>
             <button type="submit" class="btn btn-danger">
                Refresh Data
            </button>
            </form>
        <table id="vets" class="table table-striped">
           <thead>
             <tr>
               <th>No</th>
               <th>Degrees</th>
               <th>Distance</th>
             </tr>
           </thead>
           <tbody>
             <tr th:each="encoderData, iter  : ${encoderDataList}">
               <td th:text="${iter.index+1}"></td>
               <td th:text="${encoderData.degrees}"></td>
               <td th:text="${encoderData.distance}"></td>
             </tr>
           </tbody>
         </table>
    </div>
</div>

<script type="text/javascript" src="../webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>