<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Map Generator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/device/search">Find devices</a></li>
                <li><a href="/device/devices">Devices</a></li>
                <li><a href="/map/encoderData">Encoder data</a></li>
                <li class="active"><a href="/map/map">Map</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="starter-template">
        <canvas id="myCanvas" width="500" height="500"
                style="border:1px solid #000000;">
        </canvas>
    </div>
</div>

<script type="text/javascript" src="../webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./heatmap.min.js"></script>
<script th:inline="javascript">
(function () {
    let points = [[${encoderDataList}]];
    let c = document.getElementById("myCanvas");
            let ctx = c.getContext("2d");
            let x1 = 0;
            let y1 = 250;
            ctx.moveTo(x1, y1);
            let dtemp = 0;
            for (let encoderData of points) {
                dtemp = dtemp + encoderData.degrees;
                let x2 = getX(x1, dtemp, 2*encoderData.distance);
                let y2 = getY(y1, dtemp, 2*encoderData.distance);
                ctx.lineTo(x2, y2);
                x1 = x2;
                y1 = y2;
                ctx.stroke();
            }
 })();

   function getX(oldX, degree, r) {
        let degreeX = Math.cos(Math.PI * degree / 180.0);
        return oldX + r * degreeX;
    }

    function getY(oldY, degree, r) {
        let degreeY = Math.sin(Math.PI * degree / 180.0);
        return oldY + r * degreeY;
    }
</script>
</body>
</html>